// Specific CSS for your home-page
// Import du bouton cta depuis sa partial
// Les media-cards sont gérées par une partial

#home-header {
  position: relative;
  overflow: visible;  // Permet d'afficher le contenu qui sort de la div
  background: transparent;
  min-height: 40vh;
}

// On intervient sur l'image ici sans que ca modifie le reste de la div sélectionnée
#home-header::before {
  content:""; // Génère le pseudo élément
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0; // Occupe toute la surface
  background-image: url('https://res.cloudinary.com/dmby1z5d6/image/upload/v1765366835/movie-posters-compo-2_fcbxeu.jpg');
  background-size: cover;
  background-position: center;
  transform: rotate(-20deg) scale(1.8) translateX(-10%); // Rotate + zoom
  transform-origin: center; // Origin du zoom
  z-index: 0; // Placement hiérarchique du contenu
  filter: blur(2px);
  opacity: .8;

}

// On sélectionne tous les enfants de home-header
// On donne la position au dessus du background avec z-index
#home-header > * {
  position: relative;
  z-index: 1;
}

#home-header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 92px;
  min-height: 40vh;
}

.home-title {
  font-family: "Montserrat";
  font-size: 26px;
  text-align: center;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


// Responsive qui s'active quand la largeur >= 900px sinon affichage mobile

@media (min-width: 900px) {
  #home-header {
    position: relative;
    overflow: visible;
    background: transparent;
    min-height: 100%;
  }


  #home-header::before {
    content:"";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('https://res.cloudinary.com/dmby1z5d6/image/upload/v1765366835/movie-posters-compo-2_fcbxeu.jpg');
    background-size: cover;
    background-position:center;
    transform: rotate(0deg) scale(1) translateX(0%);
    transform-origin: center;
    z-index: 0;
    filter: blur(2px);
    opacity: .7;
    box-shadow: white 0 8px 18px -16px;
  }

  #home-header > * {
    position: relative;
    z-index: 1;
  }

  #home-header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 92px;
    min-height: 40vh;
  }

  .home-title {
    font-family: "Montserrat";
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

}
