
.card {
  background: linear-gradient(#4d6785, #000000);
}

.card-body {
  color: white;
  text-align: center;
}

.card-body h5 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
}
