
.card {
  background: linear-gradient(#4d6785, #000000);
}

.card-body {
  color: white;
  text-align: center;
}

.card-body h5 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
}

#media-type-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

#select-type-text {
  margin-bottom: 24px;
  text-align: center;
}
