#background-show {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.background-image {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: cover;
  transform: scale(1.2);
  filter: blur(2px);
  opacity: 0.9;
  z-index: 1;
  padding-bottom: 24px;
}

.foreground-image {
  position: relative;
  z-index: 2;
  width: 214px;
  height: 321px;
  box-shadow: #ffffff 0 4px 18 -18px;
}

#media-description h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

#group-btn-list {
  margin-top: 24px;
  padding-right: 16px;
}

.show-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show-section {
  border-top: 1px solid;
  border-color: #FFFFFF;
  padding-top: 10px;
}

.show-title-review{
  width:100%;
  margin-bottom:0;
}

.show-section-review{
  width:100%;
  margin-bottom:0;
}

.buttons-top-show-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

// .list-buttons-show-page {

// }
