#review-index-title {
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
}

.review-card-text {
  color: white;
  margin-top: 8px;
  padding-top: 4px;
}

.review-rating {
  padding-top: 4px;
}
