#review-index-title {
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
}

.review-card-text {
  color: white;
  margin-top: 8px;
  padding-top: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.review-rating {
  padding-top: 4px;
  font-size: 16px;
}
