#review-index-title {
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
}

.review-card-text {
  color: white;
  border-top: 1px inset white;
  padding-top: 4px;
}

.review-rating {
  border-top: 1px inset white;
  padding-top: 4px;
}
