#stats-title {
  color: #FBC500;
}

.box {
  background-color: #3a3a3a;
  border-radius: 30px;
  border: solid, 1px, white;
  height: 100px;
  place-content: center;
  padding: 10px;
}

.carousel-title {
  color: #FBC500;
  margin-top: 24px;
}
