<h2 class="devise-header mt-2 mb-4 text-center">Forgot your password?</h2>

<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions d-flex justify-content-center mb-3">
      <%= f.button :submit, "Reset password", class: "btn-cta" %>
    </div>
  <% end %>

</div>
