<nav>
  <div id="top-navbar">
    <%# <a data-bs-toggle="offcanvas" href="#offcanvasNavbar" role="button" aria-controls="offcanvasNavbar"><i class="fa-solid fa-bars fa-xl" style="color: #FBC500;" id="menu-burger"></i> %>

    <%= link_to root_path do %>
      <img src="https://res.cloudinary.com/dmby1z5d6/image/upload/v1765366833/logo-mediatrackr-no-name-1_mznbne.png" style="width: 50px; height: 50px" alt="logo MediaTrackr Yellow">
    <% end %>

    <%= link_to "MediaTrackr", root_path, class: "brand-logo" %>

    <%= link_to new_user_session_path do %>
      <i class="fa-regular fa-user fa-xl" style="color: #FBC500;"></i>
    <% end %>

  </div>

 <%# Gestion du offcanvas après clique %>
</nav>
