<% if Review.find_by(medium_id: medium.id, user_id: current_user.id).nil? %>
  <%= link_to new_medium_review_path(medium), data: { turbo_method:"GET" }, class: "btn-cta btn-cta-bottom-show" do %>
    <i class="fa-regular fa-pen-to-square"></i> <span>Review</span>
  <% end %>
<% else %>
  <%= link_to new_medium_review_path(medium), data: { turbo_method:"GET" }, class: "btn-cta btn-cta-bottom-show" do %>
    <i class="fa-regular fa-pen-to-square"></i> <span>Review</span>
  <% end %>
<% end %>
