
  <div class="card h-100 shadow-sm">
    <%= image_tag medium.poster_url, alt: medium.title, class: "card-img-top" %>

    <div class="card-body">
      <h5 class="card-title"><%= medium.title %></h5>
    </div>
  </div>
