<div class="container my-5 text-light p-5" id="media-index-container">
  <h1 class="mb-4 text-center">Search for a media <i class="fa-solid fa-magnifying-glass"></i></h1>

  <div data-controller="media-search">

    <%= form_with url: search_media_path,
          method: :post,
          data: {
            action: "submit->media-search#submit", turbo: false
           },
          class: "input-group shadow-sm" do %>

    <%= text_field_tag :title, nil,
          class: "form-control form-control-lg",
          placeholder: "Enter a media title...",
          required: true %>

    <%= hidden_field_tag :medium_type, "",
      data: { media_search_target: "mediumType" } %>

      <button class="btn btn-primary btn-lg ms-2" type="submit">
        <i class="bi bi-search"></i> Search
      </button>

    <% end %>

    <!-- Boutons (même controller, cachés au départ) -->
    <div class="mt-4 d-none"
        data-media-search-target="buttons">

      <h2 id="select-type-text">Chose a media type :</h2>
      <div id="media-type-list">
        <button class="btn-media-type"
          data-action="click->media-search#choose"
          data-medium="movie">
          <i class="fa-solid fa-video fa-lg" style="color: #000000ff; margin-right: 12px;"></i> Movies
        </button>

        <button class="btn-media-type"
          data-action="click->media-search#choose"
          data-medium="book">
          <i class="fa-solid fa-book-open fa-lg" style="color: #000000ff; margin-right: 12px;"></i> Books
        </button>

        <button class="btn-media-type"
          data-action="click->media-search#choose"
          data-medium="game">
          <i class="fa-solid fa-gamepad fa-lg" style="color: #000000ff; margin-right: 12px;"></i> Video Games
        </button>

      </div>
    </div>

  </div>

</div>
