
#bottom-navbar {
  height: 64px;
  background: #161E26;
  border: solid 1px #4B4B4B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  // overflow: hidden;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 99px;
  margin-bottom: 2px;

  position: fixed;
  bottom: 0;
  left: 50%;
  width: 98%;
  transform: translateX(-50%);

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 36px;
  border: 1px solid rgba(255, 255, 255, 0.125);

}

#bottom-navbar i {
  color: #a2a3a4;
}

#bottom-navbar i.active-icon {
  color: #FBC500;
}

.offcanvas {
  width: 98%;
  background: #161E26;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 36px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  margin: 0 auto;
}

#offcanvasNavbarLabel {
   color: #FBC500;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
}

.btn-close-custom {
  color: #FFFFFF;
  background:none;
  border: none;
}
