.btn-cta {

  font-family: "Inter";
  font-weight: medium;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  word-break: break-word;
  color: black;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;

  background: #FBC500;
  // box-shadow: #FBC500 0 10px 20px -10px;
  border-radius: 999px;
  width: fit-content;
  border: 0;
  box-sizing: border-box;
}
