.btn-cta {

  font-family: "Inter";
  font-weight: bold !important;
  font-size: 18px;
  line-height: 24px;
  word-break: break-word;
  color: black;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;

  background: #FBC500;
  box-shadow: #FBC500 0 8px 18px -16px;
  border-radius: 999px;
  width: fit-content;
  border: 0;
  box-sizing: border-box;
}

.btn-media-type {

  font-family: "Inter";
  font-weight: bold !important;
  font-size: 18px;
  line-height: 24px;
  word-break: break-word;
  color: black;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;

  background: #FBC500;
  box-shadow: #FBC500 0 8px 18px -16px;
  border-radius: 999px;
  border: 0;
  box-sizing: border-box;
}
