.btn-cta {
  font-family: "Inter";
  font-weight: bold !important;
  font-size: 18px;
  line-height: 24px;
  word-break: break-word;
  color: black;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;

  background: #FBC500;
  box-shadow: #FBC500 0 8px 18px -16px;
  border-radius: 999px;
  width: fit-content;
  border: 0;
  box-sizing: border-box;
}

.btn-cta.btn-favorites {
  background: #7B61FF;
  box-shadow: none;
}

.btn-cta-show{
  width: 350px;
  margin-top: 10px;
}

.btn-cta-bottom-show{
  width: 150px;
  margin-top: 10px;
}

.btn-icon {
  color: #FBC500;
  border: none;
  background: none;
  box-shadow: none;
}

.btn-hidden {
  visibility: hidden;
}

.btn-media-type {
  font-family: "Inter";
  font-weight: bold !important;
  font-size: 18px;
  line-height: 24px;
  word-break: break-word;
  color: black;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;

  background: #FBC500;
  box-shadow: #FBC500 0 8px 18px -16px;
  border-radius: 999px;
  border: 0;
  box-sizing: border-box;
}
