
.pagination {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 2rem;

    // .page-item {
    //   margin: 0 0.25rem;

    //   .page-link {
    //     color: #fcb500;
    //     border: 1px solid #444;
    //     border-radius: 0.25rem;
    //     padding: 0.5rem 0.75rem;
    //     transition: all 0.2s ease;

    //     &:hover {
    //       background-color: #fbc500;
    //       color: #212529;
    //       text-decoration: none;
    //     }
    //   }

    //   &.active .page-link {
    //     background-color: #fbc500;
    //     color: #212529;
    //     border-color: #fbc500;
    //   }

    //   &.disabled .page-link {
    //     background-color: #343a40;
    //     color: #6c757d;
    //     border-color: #444;
    //   }
    // }
}
