.search-media-cards {
  display: flex;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
}


.search-card-image-left {
  height: 222px;
  width: 140px;
  border-radius: 8px;
}

.search-card-body {
  padding-left: 12px;
  margin: 2px 2px 2px 2px;

}

.search-card-body .card-title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  border-left: inset 4px #7B61FF;
  padding-left: 4px;
  // border-bottom: solid 1px white;
  // padding-bottom: 2px;
}

.search-card-body .card-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
}

.search-card-body .card-description {
  font-family: "Inter";
  font-weight: 300;
  font-size: 12px;
}

.list-icon {
  padding: auto 8px auto 8px;
}
