
#media-search-bar {
  border: 1px solid #FBC500;
  border-radius: 12px;
  padding: 4px 8px 4px 8px;
  background-color: #FBC500;

}

#form-control-text {
  border-radius: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#search-button {
  padding-left: 4px;
  padding-right: 4px;
}

#media-index-container .media-search {
  padding: 4px 8px 4px 8px; ;
}


#media-index-container h1 {
  font-weight: bold;
}
