#top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 64px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  overflow: hidden;

  padding-left: 24px;
  padding-right: 24px;
}

#top-navbar .brand-logo {
  color: #FBC500;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
}
