#top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 64px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

#top-navbar .brand-logo {
  color: #FBC500;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
}
