// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/buttons";
@import "components/home_media_card";
@import "components/top_navbar";
@import "components/review_modal.scss";
@import "components/search_media_cards";
@import "components/pagination";
@import "components/bottom_navbar";
@import "components/lists_media_cards";
@import "components/stats_card";

@import "pages/index";
@import "pages/media_show";
@import "pages/media_index";
@import "pages/review_index";
@import "pages/review_new";
@import "pages/stats";

main {
  background: linear-gradient(#171F28, #000000);
  padding-top: 64px;
  overflow-x: hidden;
  min-height: 100vh;
  padding-bottom: 64px;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
}

.form-control {
  color: black;
}

.form-control::placeholder {
  color: black;
  opacity: 0.5;

}

.form-control:focus {
  color: black !important;
  font-family: "Inter";
  font-weight: 400;
}
