<% if results.present? %>
  <h3 class="mb-4 mt-4">Results :</h3>

  <div class="row g-0">
    <% results.each do |medium| %>
      <div class="search-media-cards col mb-3 mt-3">

        <%# Image %>
        <div class="search-card-image">
          <% if medium["cover"] %>
            <%= image_tag medium["cover"], alt: medium["name"], class: "search-card-image-left" %>
          <% else %>
            <div class="bg-secondary text-light d-flex align-items-center justify-content-center" style="height: 200px; width: 140px;">
              No Poster
            </div>
          <% end %>
        </div>

        <%# Texte %>

        <div class="search-card-body d-flex flex-column justify-content-between">
          <h5 class="card-title"><%= medium["name"] %></h5>
          <p class="card-text"><%= medium["first_release_date"] %></p>

          <%# buttons %>

          <div class="list-icon">
            <i class="fa-solid fa-bookmark fa-lg" style="color: #FBC500;"></i>
            <i class="fa-solid fa-circle-plus fa-lg" style="color: #FBC500;"></i>
            <i class="fa-solid fa-heart fa-lg" style="color: #FBC500;"></i>
          </div>

          <div class="btn-more-details">
            <%= button_to "More details", create_from_igdb_media_path(id: medium["id"], cover: medium["cover"], platforms: medium["platforms"], developer: medium["developer"], publisher: medium["publisher"], main_story_duration: medium["main_story_duration"], main_extras_duration: medium["main_extras_duration"], completionist_duration: medium["completionist_duration"]),
                  method: :post,
                  data: { turbo_stream: true },
                  class: "btn btn-primary rounded-pill" %>
          </div>
        </div>
      </div>

    <% end %>

  </div>

<% else %>
  <div class="alert alert-warning">No games found</div>
<% end %>
